.heading {
  font-size: 50px;
  font-family: Orbitron;
}

.subheading {
  font-size: 30px;
  font-family: Orbitron;
}

#measuringGaugeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.statusLabelContainer {
  margin-top: 40px;
}

.pressureLabel {
  font-size: larger;
  font-family: Orbitron;
}

.pageWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.explosion {
  position: absolute;
}

.gaugesContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

.gaugeGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}